<form class="taskTitle">          
  <legend>Today's Tasks</legend>
  <input autofocus class="newItem" type="text" placeholder="New Item">
  <button type="submit" class="newItem add-item-btn">Add</button>
</form>
<ul id="itemList">

</ul>