{{> default/head }}

<body>

<!-- Navigation -->
{{> default/nav }}

<!-- Page Header -->
{{> default/header }}

<!-- Main Content -->
<div class="container">
  {{{ body }}}    
</div>

  <hr>

  <!-- Footer -->
{{> default/footer }}

</body>

</html>